*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: #000430;
    color: #fff;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin: 120px auto 0 auto;
    max-width: 500px;

}


.statsContainer{
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #828dff;
    display: flex;
    
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    
} 

.details{
    width: 100%;
}

.det{
    display: flex;
    justify-content: space-between;
}



#progressBar{
    width: 100%;
    height: 10px;
    background: #212875;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;


}

#progress{
    width: 75%;
    height: 10px;
    background-color: rgb(15, 232, 232);
    border-radius: 10px;
    transition: all 0.3s ease;
}

#numbers{
    width: 100px;
    height: 100px;
    background-color:  #828dff;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;

}

form{
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 10px;
}
input{
    flex: 1;
    padding: 10px;
    background-color: #3c416e;
    border: 2px solid #8d8e91;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
}

button{
    width: 50px;
    height: 50px;
    border: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111da2;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    outline: none;
}